<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>See Girls</title>
  </head>
  <body>
    <div class="container-fluid">
      <header style="text-align: center; font-size: 40px"
        >Coder Relaxing</header
      >
      <div class="row">
        <div class="col">
          <% data.forEach((item) => { %>
          <img src="<%= item.url %>" class="img-fluid" alt="..." />
          <% }) %>
        </div>
        <div class="col">
          <% data.forEach((item) => { %>
          <img src="<%= item.url %>" class="img-fluid" alt="..." />
          <% }) %>
        </div>
        <div class="col">
          <% data.forEach((item, index) => { %>
          <img src="<%= item.url %>" class="img-fluid" alt="..." />
          <% }) %>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
