<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../layout/head') %>
      <link rel="stylesheet" href="/css/girls.css">
      <link rel="stylesheet" href="/css/contribute.css">
</head>

<body>
   <div class="container-fluid center">
      <header class="header">Coder Relaxing</header>
      <p class="xl white">Bạn đang ở đóng góp Cute Girls</p>
      <div class="btn-group">
         <a href="/api/v1/girls/contribute/cute" class="btn btn-primary xl">Cute Girls</a>
      </div>
      <div class="btn-contribute padding-10">
         <button type="submit" class="btn btn-primary xl">
            <a href="/api/v1/girls/cute" class="a">Quay về</a>
         </button>
      </div>
      <br>
      <br>
      <form action="/api/v1/girls/cute" method="POST">
         <div class="input-group xl">
            <input type="file" class="form-control" id="inputFile" aria-label="Upload" accept="/"
               onchange="loadFile(event)">
            <button class="btn btn-outline-primary" type="submit">Upload</button>
         </div>
      </form>
      <img src="" alt="" id="output" class="loading-image">
   </div>
   <script>
      const loadFile = (event) => {
         let output = document.getElementById('output');
         output.src = URL.createObjectURL(event.target.files[0]);
         output.onload = () => {
            URL.revokeObjectURL(output.src)
         }
      };
   </script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
</body>

</html>