<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('../layout/head') %>
      <link rel="stylesheet" href="/css/girls.css">
      <link rel="stylesheet" href="/css/contribute.css">
</head>

<body>
   <div class="container-fluid center">
      <header class="header">Coder Relaxing</header>
      <p class="xl white">Please select the most Cute Girls photos</p>
      <div class="btn-group">
         <a href="/girls/contribute/cute" class="btn btn-primary xl">Cute Girls</a>
      </div>
      <div class="btn-contribute padding-10">
         <button type="submit" class="btn btn-primary xl">
            <a href="/girls/cute" class="a">Go back</a>
         </button>
      </div>
      <form action="/girls/cute" method="POST" enctype="multipart/form-data">
         <div class="input-group xl key">
            <input type="file" class="form-control" id="inputFile" aria-label="Upload" name="image" accept="/"
               onchange="loadFile(event)" required>
            <input class="hide" id="getKey" name="key"> </input>
            <button class="btn btn-outline-primary" type="submit">Upload</button>
         </div>
      </form>
      <img src="" alt="" id="output" class="loading-image">
      <% if(!message){ %>
         <p class="xl white">Please select the image</p>
         <% } else {%>
            <p class="xl white">
               <%=message %>
            </p>
            <% } %>
   </div>
   <script src="/js/preview.js"></script>
   <script src="/js/get.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"></script>
</body>

</html>