<header class="header">Coder Relaxing</header>
<div class="random-image btn-group">
   <div class="padding-10"><a class="btn btn-primary xl" href="/girls/cute/random">Cute random</a></div>
   <div class="padding-10"><a class="btn btn-primary xl" href="/girls/sexy/random">Sexy random</a></div>
</div>
<div class="btn-contribute padding-10">
   <a href="/girls/contribute" class="btn btn-primary xl a"> Contribute</a>
</div>
<div class="center">
   <a href="/girls/cute" class="btn btn-primary xl">Cute Girls</a>
   <a href="/girls/sexy" class="btn btn-primary xl">Sexy Lady</a>
</div>